@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

/*GLOBAL--------------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    word-break: break-word;
}

.smallPadding {
    padding-left: 3px;
}

p {
    margin-bottom: 0;
    text-decoration: none;
    font-size: 1.1em;
    color: #353535;
}

div {
    color: #353535;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

input:focus, textarea:focus, select:focus {
    outline: none;
}

.container {
    display: grid;
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
    max-width: 90em;
    height: 100%;
    padding: 0px 2em;
}

.textStyle {
    color: #05386B;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
}

.button {
    padding: 5px;
    border-radius: 10px;
    background: grey;
}

.button:hover {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

textarea {
    width: 100%;
    height: 100%;
    padding: 3px;
}

input {
    border: none;
    border-bottom: 1px solid grey;
    background: transparent;
}

.input {
    overflow: auto;
}

.boxProperties {
    border-radius: 10px;
    border-style: none;
    padding: 3px;
    background-color: rgb(255, 255, 255);
    box-shadow: 4px 6px 12px -6px rgba(0,0,0,0.3);
}

.customButton {
    border-radius: 8px;
    padding: 5px 8px;
    margin: auto;
    border: none;
    color: white;
    background: #379683;
}

.customButton:hover {
    cursor: pointer;
    text-decoration: none;
    color: white;
}

/*Navbar--------------------*/
nav li {
    display: inline-block;
    margin-left: 1em;
}

ul li a:hover {
    color: white;
}

.logo {
    font-family: 'Pacifico', cursive;
    font-size: 30px;
    margin-right: auto
}

.logo:hover {
    text-decoration: none;
    color: white;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    min-height: 65px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    background-color: #e4f3ff;
    padding: 0px 30px;
    align-items: center;
}

nav ul {
    margin: 0;
    text-align: end;
}

nav a {
    color: #05386B;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 8px 15px;
    font-weight: 700;
}

body {
    background-color: #e4f3ff;
}

main {
    height: 50em;
}

.marginBottom {
    margin-bottom: 1em;
}

/*ShowProfile View--------------------*/

.profileLeft {
    display: grid;
    grid-template-rows: 18em 30em 5em;
    position: fixed;
    width: 19em;
}

.profileRight {
    margin-left: 22em;
    min-height: 50em;
}

.avatar {
    max-width: 100%;
    max-height: 13em;
}

.post {
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    grid-template-columns: 80px 4fr 1fr;
    margin-bottom: 2em;
    padding: 0 5px 0 5px;
    border-radius: 10px;
}

.postForm {
    margin-bottom: 2em;
    padding: 0 5px 0 5px;
    background-color: white;
    display: grid;
    grid-template-rows: 1fr auto 3fr auto 1fr;
}

.avatarFeed {
    border-radius: 50px;
    max-width: 80px;
    max-height: 80px;
    border-radius: 100%;
}

.avatarFeedWrapper {
    display: grid;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.postMessage {
    padding-left: 5px;
    grid-column-start: 2;
    grid-column-end: 4;
}

.postTitle {
    font-weight: bold;
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 3px;
}

#PostTitle {
    padding: 3px;
    border-bottom: none
}

#PostMessage {
    padding: 3px;
}

.postDate {
    text-align: right;
    grid-column-start: 3;
    grid-column-end: 4;
}

.postFooter {
    text-align: right;
    grid-column-start: 1;
    grid-column-end: 4;
    display: flex;
    justify-content: flex-end;
}

/*Inbox View--------------------*/


.inboxContainer {
    display: grid;
    grid-template-columns: 20em auto;
    height: 53em;
    
}

.inboxFriendList {
    display: grid;
    grid-auto-rows: 100px;
    background-color: white;
    grid-row-start: 1;
    grid-row-end: 3;
}

.chatForm {
    background-color: white;
    display: grid;
    grid-template-rows: 3fr auto 1fr;
    background-color: #eaeaea;
}

.inboxFriendCard {
    display: grid;
    grid-template-columns: 100px auto;
}

.chatWindowContainer {
    display: grid;
    grid-template-rows: auto 11em;
}

.inboxFriendCard:hover {
    background-color: #eaeaea;
}

.inboxChatItem {
    margin-bottom: 10px;
    display: grid;
    grid-template-rows: 25px auto auto;
    grid-template-columns: 100px auto;
    width: 40em;
}

.inboxChatFooter {
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    justify-content: flex-end;
}

.inboxFriendName {
    display: grid;
    align-items: center;
}

.chatWindow {
    background-color: #eaeaea;
    padding: 10px;
    height: 42em;
    overflow-y: scroll;
    display: flex;
    flex-direction: column-reverse;
}

/*Register & Login View--------------------*/

.inputCard {
    width: 35em;
    margin: 0 auto;
    height: 28em;
}

/*ListUsers View--------------------*/

.listUsers {
    display: grid;
    grid-template-columns: 22% 22% 22% 22%;
    justify-content: space-between;
}

.userCard {
    max-height: 25em;
    display: grid;
    opacity: 0.85;
    background-color: white;
    margin-bottom: 2em;
    grid-template-rows: 20% 60% 20%;
    text-align: center;
}

.userCard h5 {
    margin: 1em 0 0 0;
}

.userCardFooter {
    display: grid;
    align-content: center;
}

.userCard:hover {
    opacity: 1;
}

/*EditUsers View--------------------*/

.editUserForm {
    display: grid;
    width: 30em;
    grid-template-columns: 30% 70%;
    grid-template-rows: 80% 20% auto;
    margin: 0 auto 0 auto;
    padding: 10px;
}

.buttonArea {
    margin: 1em 0;
}

#updateButton {
    display: none;
}

#cancelButton {
    display: none;
}

.labelArea {
    display: grid;
    grid-template-rows: 1fr 1fr 3fr 1fr;
    align-items: flex-start;
}

.labelArea label {
    margin-bottom: 15px;
}

.inputArea {
    display: grid;
    grid-template-rows: 1fr 1fr 3fr 1fr;
    align-items: flex-start;
}

#bioArea {
    height: 8em;
}

#file {
    display: none;
}

.inputArea input {
    margin-bottom: 15px;
}

/*NotFound View--------------------*/

.NotFoundView {
    display: grid;
    grid-template-rows: 50px 190px 100px 50px;
    margin: 0 auto;
    padding: 10px;
    height: 400px;
    max-width: 50em;
}













































